.mainbox{
    display: flex;
   background-color:#f3e2e5;
 height: 100%;
 padding: 50px 40px; 
}
.box{
   width: 100%;
   border: 1px solid white;
    border-radius: 20px;
 background-color: rgb(250, 247, 247); 
justify-content: space-between;
}
.box2{padding: 30px ;
}
.left{margin-top: 30px;
    width: 100%;
   margin-right: 30px;
}
.sunshine {

    width: 120px;
    height: 120px;
    position: absolute;
    left: 300px;
    top: 220px;
  
}

.speed{
 color: red;
}



.name{
    position: relative;
    color: black;
    font-size: 40px;
font-weight: bold; 
z-index: 1;

}
.studio{
    color: grey;
}
.btn2{display: flex;
column-gap: 20px;
}
.btn2{display: flex;
gap:10px;}

.hire{ 
    background: blue;
   width: 100px;
   color: white;
   border-radius: 30px;
   height: 40px;

}
.arrow{
    height: 40px;
   
    width: 30px;
  
  
}
.socialmedia{
    height:20px;
    margin-top: 60px;
    width: 80;
    display: flex;
 
column-gap: 30px;
}
arrow1{
   
    position: absolute; 
    bottom:2200px;
    
}

.right{
 
   
    justify-content:flex-start; 

}
.image2{
  position: absolute;
 bottom: 7px;
 top:100px;
    height:500px;
    left: 600px;
width: 500px;
}
.project{
   
   align-items: center;
   position: absolute ;
  background-color:white;
  width: 170px;
    height: 120px;
    left: 600px;
    top:200px;
    border-radius: 20px;
}
.num{
  font-weight: bold; 
  font-size: 16px;
}
.ui{
    display: flex;
    position: absolute;
    left:900px;
    bottom: 500px;
    width:140px;
    padding: 10px;
        background-color: white;
}
.searchbtn{
    width: 140px;
    display: flex;
    background: white;
    position: absolute;
    top: 200px;
    left:1000px;
   column-gap:15px;
}

#name {
width: 150px;
border: none;
}